* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  body {
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1575931953324-fcac7094999e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    text-align: center;
    font-weight: bold;
    height: 10vh;
    text-transform: uppercase;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .input_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid violet; */
    flex-wrap: wrap;
    gap: 20%;
  }
  .input_field input {
    padding: 0.3rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
  }
  .buttons {
    margin-top: 2rem;
    padding: 0.7rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 20px;
  }
  .buttons:hover {
    box-shadow: 2px 5px 10px red;
    color: red;
  }
  p {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  #age {
    background-color: blue;
    height: 10vh;
    color: white;
  }
  @media screen and (max-width: 817px) {
    body {
      position: relative;
    }
    .input_field {
      position: absolute;
      height: 100vh;
      left: 55%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .btn {
      position: absolute;
      left: 40%;
      top: 68%;
      transform: translateY(-50%);
    }
    #age {
      position: absolute;
      left: 15%;
      top: 85%;
      height: 15vh;
      width: 90vw;
      transform: translate(-10%, -50%);
      text-align: center;
      overflow: auto;
    }
  }